console {
    // ensure the operator can connect to the broker by referencing the existing properties config
    org.apache.activemq.artemis.spi.core.security.jaas.PropertiesLoginModule sufficient
        org.apache.activemq.jaas.properties.user="artemis-users.properties"
        org.apache.activemq.jaas.properties.role="artemis-roles.properties"
        baseDir="/home/jboss/amq-broker/etc";

   org.keycloak.adapters.jaas.BearerTokenLoginModule sufficient
        keycloak-config-file="/amq/extra/secrets/sso-jaas-config/_keycloak-bearer-token.json"
        role-principal-class=org.apache.activemq.artemis.spi.core.security.jaas.RolePrincipal;
};
activemq {
    org.keycloak.adapters.jaas.BearerTokenLoginModule sufficient
        keycloak-config-file="/amq/extra/secrets/sso-jaas-config/_keycloak-bearer-token.json"
        role-principal-class=org.apache.activemq.artemis.spi.core.security.jaas.RolePrincipal;

    org.keycloak.adapters.jaas.DirectAccessGrantsLoginModule sufficient
        keycloak-config-file="/amq/extra/secrets/sso-jaas-config/_keycloak-direct-access.json"
        role-principal-class=org.apache.activemq.artemis.spi.core.security.jaas.RolePrincipal;

    org.apache.activemq.artemis.spi.core.security.jaas.PrincipalConversionLoginModule required
       principalClassList=org.keycloak.KeycloakPrincipal;
};


2025-07-18 14:01:22,059 DEBUG [io.hawt.web.auth.SessionExpiryFilter] Accessing [/console/jolokia/read/org.apache.activemq.artemis:broker=%22amq-broker%22/Status], hawtio path is [jolokia/read/org.apache.activemq.artemis:broker=%22amq-broker%22/Status]
2025-07-18 14:01:22,059 DEBUG [io.hawt.system.Authenticator] doAuthenticate[realm=console, role=admin, rolePrincipalClasses=org.apache.activemq.artemis.spi.core.security.jaas.RolePrincipal, configuration=null, username=WRxmxumB, password=******]
2025-07-18 14:01:22,061 DEBUG [io.hawt.system.Authenticator] Looking for rolePrincipalClass: org.apache.activemq.artemis.spi.core.security.jaas.RolePrincipal
2025-07-18 14:01:22,061 DEBUG [io.hawt.system.Authenticator] Checking principal, classname: org.apache.activemq.artemis.spi.core.security.jaas.UserPrincipal toString: WRxmxumB
2025-07-18 14:01:22,061 DEBUG [io.hawt.system.Authenticator] principal class org.apache.activemq.artemis.spi.core.security.jaas.UserPrincipal doesn't match org.apache.activemq.artemis.spi.core.security.jaas.RolePrincipal, continuing
2025-07-18 14:01:22,061 DEBUG [io.hawt.system.Authenticator] Checking principal, classname: org.apache.activemq.artemis.spi.core.security.jaas.RolePrincipal toString: admin
2025-07-18 14:01:22,061 DEBUG [io.hawt.system.Authenticator] Matched role and role principal class
2025-07-18 14:01:22,061 DEBUG [io.hawt.web.auth.ClientRouteRedirectFilter] Check if path [/jolokia/read/org.apache.activemq.artemis:broker=%22amq-broker%22/Status] requires redirect